In [1]:
import random
import pandas as pd
import numpy as np

In [2]:
questions = [
    "Which school had the [size] number absences in [month]?",
    "In which month did [school] have the [size] number absences?",
]

months = [
    "September",
    "October",
    "November",
    "December",
    "Januray",
    "February",
    "March",
    "April",
    "June",
    "July",
]

In [3]:
example_df = pd.DataFrame(data=np.random.randint(20, 101, size=(10, 10)), index=[f"School {i}" for i in range(1, 11)], columns=months)

In [4]:
example_df

,September,October,November,December,Januray,February,March,April,June,July
School 1,56,98,28,78,65,74,40,99,45,32
School 2,51,43,59,78,50,55,57,78,20,60
School 3,56,21,99,93,76,79,20,29,26,85
School 4,28,53,96,95,79,76,92,68,28,56
School 5,35,92,84,24,22,62,34,92,61,90
School 6,38,52,24,39,82,31,40,33,59,89
School 7,63,20,90,65,95,56,75,71,48,85
School 8,36,88,62,94,39,84,90,99,70,59
School 9,82,80,42,96,100,93,43,54,30,23
School 10,68,48,77,42,96,98,73,54,80,20

In [5]:
example_df["Januray"].idxmax()

'School 9'

In [6]:
example_df.loc["School 2"].idxmax()

'December'

In [7]:
def generate_question_and_answers(data: pd.DataFrame) -> tuple[str, list, int]:
    # Select highest or lowest
    hl = "highest" if random.randint(0, 1) else "lowest"

    # Update the question with the relevant word
    question = random.choice(questions).replace("[size]", hl)

    # Check if this is a month question or school question
    if "[month]" in question:
        # Select a random month from list of school months
        month = random.choice(months)

        # Insert that month into the question
        question = question.replace("[month]", month)

        # Find the correct answer to the question
        correct_answer = data[month].idxmax() if hl == "highest" else data[month].idxmin()

        # Select three random incorrect answers
        answers = random.sample([school for school in data.index if school != correct_answer], 3)
    else:
        # Select a random school
        school = random.randint(1, 10)

        # Update the question with that school
        question = question.replace("[school]", f"School {school}")

        # Find the correct answer to the question
        correct_answer = data.iloc[school - 1].idxmax() if hl == "highest" else data.iloc[school - 1].idxmin()

        # Select three random incorrect answers
        answers = random.sample([month for month in months if month != correct_answer], 3)
    
    # Append the correct answer into our list of answers at a random index
    answers.append(correct_answer)
    random.shuffle(answers)

    # Return the question, the list of potential answers, and the index of the correct answer
    return question, answers, answers.index(correct_answer)

In [22]:
q, a, c = generate_question_and_answers(example_df)

print(q, a, c)
print(a[c])

Which school had the lowest number absences in February? ['School 5', 'School 2', 'School 8', 'School 6'] 3
School 6